version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      minor-and-patches:
        applies-to: version-updates
        patterns: ["*"]
        update-types:
          - minor
          - patch
    cooldown:
      default-days: 14  # minimize supply chain attacks by waiting a bit
    labels:
      - dependencies
