services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: "policyserv"
      POSTGRES_PASSWORD: "devonly"
      POSTGRES_DB: "policyserv"
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

volumes:
  pgdata: